@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url('../imagens/fundo.png') repeat-x;

}

#container{
    width: 750px;
    margin: 0 auto;
}

#topo{
    height: 150px;
    background: url('../imagens/detalhe-topo.png') no-repeat right top;
    padding-top: 25px;
}

.logo{
    width: 152px;
    height: 66px;
    background: url('../imagens/logo.png');
    text-indent: -3000px; /*Para esconder o texto, se caso o css da página não carregar, ele irá reaparecer*/
}

/*Barra de navegação*/

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#topo ul{
    background: #b10333;
    margin-top: 30px;
    float: left; /*Para flutuar junto com o li*/
}

#topo ul li{
    float: left; /*Para ficar lado a lado*/
}

#topo ul a{
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: white;
    background: url('../imagens/divisor.png') repeat-y left center;
}

#topo ul .primeiro a{
    background: none; /* para tirar o background do canto esquerdo do primeiro ítem */
}

#topo ul a:hover{
    color: #69001d;

}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude ,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos{
    color: white;
    background: #de003e;
    cursor: text; /*Dá impressão pro usuário de que não pode clicar de novo*/
}

#conteudo{
    margin-top: 60px;
    background: #f5f5f5;
}

#primario{
    width: 270px;
    background-color: aqua;
    float: left;
    margin: 0 0 20px 195px; /*Colocando na ordem correta, para facilitar aos leitores de tela
    180 da lateral mais 15 de espaçamento = 195*/
}

#secundario{
    width: 270px;
    background-color: rgb(0, 17, 255);
    float: left;
    margin: 0 0 20px 15px; /*Colocando na ordem correta, para facilitar aos leitores de tela
    espaçamento de 15*/
}


#lateral{
    width: 180px;
    background-color: rgb(157, 255, 0);
    float: left;
    margin: 0 0 20px -750px; /*Colocando na ordem correta, para facilitar aos leitores de tela
    -750, fazendo colar no container que tem esse tamanho total*/
} 


/*Rodapé*/
#container-rodape{
    background: #294c71;
    padding: 20px;
}

#rodape p{
    text-align: center;
    width: 750px;
    margin: 0 auto;
    color: #fff;
}


